In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('log.csv')
df.pivot(index="dataset", columns="method", values="accuracy").to_csv('pivot.csv')
df

                   dataset method  accuracy  time_train   time_eval params
0                BeetleFly    dtw  0.700000    5.572530    2.779954    NaN
1                      BME    dtw  0.886667    0.641599    2.097608    NaN
2                   Coffee    dtw  0.964286    2.604698    1.591595    NaN
3              SwedishLeaf    dtw  0.747200  172.817053  133.897692    NaN
4              BirdChicken    dtw  0.750000    4.892152    2.700502    NaN
..                     ...    ...       ...         ...         ...    ...
115               OliveOil  TMW_1  0.850000         NaN    7.100253    NaN
116                  Plane  TMW_1  0.990000         NaN   14.024076    NaN
117  SonyAIBORobotSurface1  TMW_1  0.950000         NaN    4.138720    NaN
118  SonyAIBORobotSurface2  TMW_1  0.910000         NaN    5.009126    NaN
119                    UMD  TMW_1  0.810000         NaN    4.105961    NaN

[120 rows x 6 columns]

In [ ]:
df2 = pd.read_csv('log.csv')
#rounding value in df col
df.drop(["train_time", "best_params"])
df.time_eval =